target/
!.mvn/wrapper/maven-wrapper.jar
#!**/src/main/**
#!**/src/test/**

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# Hide secret key and database password
src/main/resources/hide/application.yml